<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
  </head>

  <body>
    <header>
      <img src="http://rs223.pbsrc.com/albums/dd171/morixlux/Pikachu_plays.gif~c200" alt="pokedex">
    </header>

    <%= yield %>
  </body>
</html>
